@use 'variables' as v;

h1, h2, h3 {
    font-family: v.$font_headings;
    margin: 0 0 calc(v.$gap / 2) 0 ;
    font-weight: 900;
    letter-spacing: 0.05em;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
p {
    font-size: 2rem;
    color: v.$grey;
    line-height: 1.8;
}

.tagline{
    font-family: v.$font_headings;
    color: v.$black;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.1em;
}

.page-description {
    text-align: center;
}