// Fuentes
$font_headings: 'Bebas Neue', sans-serif;
$font_texts: 'Hanken Grotesk', serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary_color: #247BA0;
$secondary_color: #F6E27F;
$tertiary_color: #605F5E;
$quaternary_color: #E2E2E2;
$quinary_color: #FB3640;
$senary_color: #FF7477;
$septenary_color: #FFA987;

$dark_secondary_color: #ffc501;

$alert_color: #BF0603;
$success_color: #CFD2B2;    

$white: #FFFFFF;
$grey: #6b7280;
$dark_grey: #4B5563;
$light_grey: #eeeeee;
$black: #000;

$gap: 5rem;