@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.forgot {
  margin-top: 5rem;

  .logo {
    @include m.gradienText(v.$tertiary_color, v.$tertiary_color);
  }

  small {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: .5rem;
  }

  input[type="submit"] {
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
    @include m.button(v.$tertiary_color, v.$white);
  }

  .actions {
    a {
      color: v.$tertiary_color;
    }
  }

}