@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.home {
    margin-top: 5rem;
    
    .logo {
        @include m.gradienText(v.$primary_color, v.$primary_color);
    }

    input[type="submit"] {
        margin: 0 auto;
        display: block;
        border-radius: 1rem;
        @include m.button(v.$primary_color, v.$white);
    }

    .actions {
        a{
            color: v.$primary_color;
        }
    }
}