@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.reset {
    margin-top: 5rem;
    
    .logo {
        @include m.gradienText(v.$quaternary_color, v.$quaternary_color);
    }

    input[type="submit"] {
        margin: 0 auto;
        display: block;
        border-radius: 1rem;
        @include m.button(v.$quaternary_color, v.$white);
    }

    .actions {
        a{
            color: color.adjust(v.$quaternary_color, $lightness: -40%);
        }
    }

}