@use 'base/variables' as v;
@use 'base/mixins' as m;

.mobile-bar {
    background-color: v.$primary_color;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.tablet {
        display: none;
    }

    h1 {
        margin: 0;
        a {
            color: v.$white;
            text-decoration: none;
        }
    }

    .menu {
        img {
            width: 4rem;
            height: 4rem;
        }
    }

}

.bar {
    display: none;
    @include m.tablet {
        background-color: v.$white;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 1.6rem;
        
        span {
            font-weight: 800;
            color: v.$primary_color;
            text-decoration: underline;
        }
    }

    .logout {
        @include m.button(v.$quinary_color, v.$white);
        & {
            padding: 1rem; // Envolver la declaración en & {}
        }
    }

}
