@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.sidebar {
    opacity: 0;
    background-color: v.$primary_color;
    transition-property: opacity;
    transition-duration: 500ms;
    height: 0;
    overflow: hidden;
    z-index: 1000; // Asegúrate de que tenga un z-index alto

    &.show {
        padding: 2rem;
        opacity: 1;
        height: 100%;
        position: fixed; // Cambiado de absolute a fixed
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: v.$black;
        z-index: 1000; // Asegúrate de que tenga un z-index alto

        @include m.tablet {
            display: none;
        }

    }

    &.hide {
        opacity: 0;
    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$primary_color;
    }

    .container-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: v.$white;
            font-size: 8rem;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            a {
                color: v.$white;
                text-decoration: none;
            }
        }

        .close-menu {
            display: flex;
            justify-content: center;
            height: 4rem;
            width: 4rem;

            img {
                cursor: pointer;
            } 

            @include m.tablet {
                display: none;
            }

        }

    }
   


    .sidebar-nav {
        margin-top: 5rem;
        a {
            text-transform: uppercase;
            color: v.$white;
            display: block;
            margin-bottom: 2rem;
            font-weight: 800;
            padding: 1rem;
            transition-property: background-color, border-radius;
            transition-duration: 200ms;
            z-index: 1001; // Asegúrate de que los enlaces tengan un z-index más alto
            font-size: 2.4rem;
            text-align: center;


            &:hover,
            &.active {
                background-color: color.adjust(v.$primary_color, $lightness: -20%);
                border-radius: 0.7rem;
            }

            @include m.tablet {
                font-size: 1.6rem;
                padding: 1rem 2rem;
                margin-bottom: 1.5rem;
                text-align: left;
            }

        }
    }

    .logout-mobile {
        margin-top: 5rem;

        .logout{
            @include m.button(v.$quinary_color, v.$white);
        }

        @include m.tablet {
            display: none;
        }
    }

}